/************************ Tag Selector *********************/

body {
    background-color: aliceblue;
}
h1 {
    color: brown;
}
h1:hover {
    color: red;
}
/*
img {
    background-color: red;
}
*/

/************************ Class selector *********************/
.bacon {
    background-color: green;
}
.brocolli {
    background-color: red;
}
